body {
    margin: 0;
    overflow: hidden
}

html, body {margin: 0; height: 100%; overflow: hidden}

viewport { 
    width: 100vw;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0
}

.buttonpanel {
    display: flex;
    position: absolute;
    bottom: 10px;
    flex-direction: row;
}

.drawer {
    margin: 0;
    position: absolute;
    top: 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: white;
}

.drawer.drawer-top, .drawer.drawer-bottom {
    width: 100%;
}

.drawer.drawer-top.shown {
    transform: translateY(0)
}

.drawer.drawer-top.hidden {
    transform: translateY(-100%)
}

.drawer-handle {
    position: absolute;
}

