body {
    margin: 0;
    overflow: hidden
}

html, body {margin: 0; height: 100%; overflow: hidden}

viewport { 
    width: 100vw;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0
}

.buttonpanel {
    display: flex;
    position: absolute;
    bottom: 10px;
    transition: bottom 0.5s ease;
    flex-direction: row;
}

.buttonpanel.tablebButtons {
    left: 0px;
}

.buttonpanel.notAllowed {
    bottom: -50px;
}

.viewport {
    transform: translate(0%,-50%);
    position: absolute;
    top: 50%;
}

.drawer {
    margin: 0;
    position: absolute;
    top: 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: white;
    z-index: 100;
}

.drawer.drawer-top, .drawer.drawer-bottom {
    width: 100%;
}

.drawer.drawer-top.shown {
    transform: translateY(0)
}

.drawer.drawer-top.hidden {
    transform: translateY(-100%)
}

.drawer-handle {
    position: absolute;
}

.drawer-handle > button {
    position: relative;
    transition-property: top;
    transition-duration: 0.1s;
    top: 7px;
}

.drawer-handle > button.notAllowed {
    position: relative;
    transition-property: top;
    transition-duration: 0.1s;
    top: -50px;
}

.drawer-handle > button:hover {
    top: 15px;
}

.filebox {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10em)
}

.fileicon {
    text-align: center;
}

.fileicon > .icon {
    font-size: 3em;
}

.fileicon:hover {
    background-color: lightblue
}

.chat-window {
    display:flex;
    flex-direction:column;
    max-height: 30vh;
    overflow-y: scroll;
}

.chat-messages {
    flex: 1;
    height:100%;
    display: flex;
    flex-direction: column-reverse;
}


.colorpicker-position {
    position: absolute;
    bottom: 55px;
    left: 4px;
    transition: translateX 0.5s ease;
}
.colorpicker-position.colorpicker-hidden {
    transform: translateX(-150%)
}

.colorpicker-position-shown.colorpicker-shown {
    transform: translateX(0%)
}